[Unit]
Description=egt-launcher service file
After=systemd-backlight@.service network.target
ConditionPathExists=/dev/dri/card0

[Service]
Type=simple
ExecStart=sh -c 'egt-launcher /opt/applications/resources /usr/share/egt'
RemainAfterExit=yes
Restart=on-failure

[Install]
WantedBy=multi-user.target
